<div
  [ngClass]="{ reminder: task?.reminder }"
  class="task"
  (dblclick)="onToggle(task)"
>
  <h3>
    {{ task?.text }}
    <div class="buttonContainer">
      <fa-icon (click)="onEdit(task)" [icon]="faEdit"></fa-icon>
      <fa-icon
        (click)="onDelete(task)"
        [icon]="faTimes"
        [ngStyle]="{ color: 'red' }"
      ></fa-icon>
    </div>
  </h3>
  <p>{{ task?.day }}</p>
</div>
