.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task a {
  text-decoration: none;
  color: inherit;
}
