<div>
  <h2>Edit Task</h2>
  <form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="text">Task</label>
      <input
        type="text"
        name="text"
        [(ngModel)]="text"
        id="text"
        placeholder="Add Task"
        autocomplete="off"
      />
    </div>
    <div class="form-control">
      <label for="day">Day & Time</label>
      <input
        type="text"
        name="day"
        [(ngModel)]="day"
        id="day"
        placeholder="Add Day & time"
        autocomplete="off"
      />
    </div>
    <div class="form-control form-control-check">
      <label for="reminder">Set Reminder</label>
      <input
        type="checkbox"
        name="reminder"
        id="reminder"
        [(ngModel)]="reminder"
      />
    </div>
    <div class="btn-container">
      <input type="submit" value="Save Task" class="btn submit-btn" />
      <input value="Cancel" class="btn cancel-btn" (click)="goBack()" />
    </div>
  </form>
</div>
