.cancel-btn {
  background-color: red;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
